body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-size: 28px;
    margin-top: 50px;
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.form {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
}

.form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="password"],
.form select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #0056b3;
}

.form {
    display: none
}

.role-buttons {
    margin-top: 20px;
}

.role-buttons button {
    font-size: 18px;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.role-buttons button:hover {
    background-color: #0056b3;
}

#signin{
    font-size: 16px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}